<ion-list>
  <ion-item>Popped!</ion-item>
  <ion-item>Popped!</ion-item>
  <ion-item>Popped!</ion-item>
  <ion-item>Popped!</ion-item>
  <ion-item>Popped!</ion-item>
  <ion-item>Popped!</ion-item>
  <ion-item>Popped!</ion-item>
  <ion-item>Popped!</ion-item>
  <ion-item>Popped!</ion-item>
  <ion-item>Popped!</ion-item>
  <ion-item>Popped!</ion-item>
  <ion-item>Popped!</ion-item>
  <ion-item>Popped!</ion-item>
  <ion-item>Popped!</ion-item>
  <ion-item>Popped!</ion-item>
  <ion-item>Popped!</ion-item>
  <ion-item>Popped!</ion-item>
  <ion-item>Popped!</ion-item>
  <ion-item>Popped!</ion-item>
  <ion-item>Popped!</ion-item>
  <ion-item>Popped!</ion-item>
  <ion-item>Popped!</ion-item>
  <ion-item>Popped!</ion-item>
</ion-list>
